
@{
    ViewBag.Title = "Ajuda";
}
<link href="~/DesignPaginas/Style/Ajuda.css" rel="stylesheet" />

<section id="parte1">
    <div class="container">

        <div class="content">
            <h1 class="Fale">Fale Conosco </h1>
            <div class="content-text left ">

                <h4> Caso tenha dúvidas, entre em contato por: </h4><br>

                <p class="dados"> <strong> Email: </strong> quietTime@hotel.com.br</p>
                <p class="dados"> <strong>Instagram:</strong> @@QuietTime</p>
                <p class="dados"> <strong> Telefones:  </strong>(11) 99287-1398 / 0800 704 6200</p>

                <br>
                <h5>Atendimento de segunda a sexta das 9:00 às 20:00.</h5>

            </div>

            <img src="https://i.ibb.co/cYGtrVc/imagempronta.png">

        </div>
    </div>
</section>
