@{
    ViewBag.Title = "Saiba Mais";
}
<link href="~/DesignPaginas/Style/SaibaMais.css" rel="stylesheet" />
<section id="parte1">
    <h1 class="titulo">FAQ - Quiet Time</h1>
    <div class="container">
        <div class="texto2">
            <ul class="infosTopicos">
                <li>
                    <h2>Estrutura Hotel Quiet Time:</h2>
                    <p>Estacionamento e Restaurante próprios.</p>
                    <p>Área de lazer para todas as idades.</p>
                    <p>
                        Quartos com:
                        <ul class="quartos_lista">
                            <li>Varanda</li>
                            <li>Banheiro privativo</li>
                            <li>TV à cabo</li>
                            <li>Ar condicionado</li>
                            <li>Escrivaninha</li>
                            <li>Conexão internet via cabo e Wi-fi</li>
                            <li>Frigobar</li>
                            <li>Telefone para contato com gerência 24h</li>
                        </ul>
                    </p>
                </li>
                <li>
                    <h2>Atendimento prático:</h2>
                    <p>Funcionários prontos para ajudar 24h durante hospedagem.</p>
                    <p>Você pode conferir dúvidas comuns aqui.</p>
                    @*@Html.ActionLink("Aqui", "Index", "inicial")*@
                </li>
                <li>
                    <h2>Segurança Digital:</h2>
                    <p>Adesão total à Lei Geral de Proteção de Dados (LGPD).</p>
                    <p>Dados pessoais são utilizados somente em processos internos do hotel, conforme termos de uso.</p>
                    <p>Hóspedes podem acessar seus dados a qualquer momento.</p>
                </li>
            </ul>
        </div>
    </div>
</section>